.header {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
}
.navBar-orange {
  background-color: rgb(255, 123, 0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  font-size: 14px;
}
.navBar-black {
  background-color: rgb(32, 31, 31);
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.navBar__nav-icon {
  color: #f2f2f2;
  margin-right: 37px;
  margin-left: 14px;
}
.navBar__nav-black {
  font-family: "Texta", sans-serif;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 30px;
}
.navBar__nav-black:first-child {
  margin-left: 1000px;
  margin-right: 1000px;
}

.Navbar__Nav {
  font-family: "Texta", sans-serif;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 30px;
}
.Navbar__Nav:first-child {
  margin-left: 600px;
}
.basket {
  position: absolute;
  margin-top: 72px;
  left: 20px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .Navbar__Nav:first-child {
    margin-left: 0px;
  }
  .navBar-orange {
    flex-direction: column;
    height: auto;
  }
  .Navbar__Nav {
    margin: 10px;
  }
  .navBar__nav-icon {
    margin-right: 10px;
  }
  .search-bar,
  .buttons {
    margin-left: 0;
  }
  .table-container {
    max-height: none;
  }
}
.list {
  font-family: "Texta", sans-serif;
  color: rgb(55, 55, 55);
  font-size: 30px;
  margin: 20px 0;
  font-weight: bold;
  margin-left: 64px;
}
.search-bar {
  margin-top: 0px;
  margin-left: 65px;
}

.buttons {
  margin-top: 20px;
  margin-left: 65px;
}
.buttons button {
  margin-right: 10px;
}

.table {
  overflow-y: scroll;
  max-height: 300px;
  margin: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.table::-webkit-scrollbar {
  width: 6px;
}

.table::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.main-table {
  width: 90.5%;
  margin: 0 auto;
  border-collapse: collapse;
}

.social-media {
  left: 600px;
  position: absolute;
}

.header-row td {
  background-color: #ccc;
  border: none;
  padding: 0;
}

.main-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.main-table th,
.custom-table {
  border: none;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  height: 25px;
  font-family: "Texta" sans-serif;
  text-align: uppercase;
}
.main-table th {
  background-color: black;
  color: white;
  font-family: "Texta", sans-serif;
}
